/* PercentageBarsCard.css */

.percentage-bars-card {
    width: 100%;
    height: 100vh; /* Set the height to 100% of the viewport height */
}

.percentage-bar {
    margin-bottom: 15px;
}

.percentage-bar IonLabel {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.percentage-bar IonProgressBar {
    height: 8px;
}

.percentage-bar IonProgressBar[color="danger"] {
    --progress-background: #ffe5e5;
}

.percentage-bar IonProgressBar[color="success"] {
    --progress-background: #e5ffe5;
}

.percentage-bar IonProgressBar[color="warning"] {
    --progress-background: #fff4e5;
}
