aiohttp==3.9.3
aiosignal==1.3.1
asgiref==3.7.2
attrs==23.2.0
bcrypt==4.1.2
bitarray==2.9.2
blinker==1.7.0
CacheControl==0.14.0
cachetools==5.3.2
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cryptography==42.0.2
cycler==0.12.1
cytoolz==0.12.3
dnspython==2.5.0
email-validator==2.1.0.post1
eth-account==0.10.0
eth-hash==0.6.0
eth-keyfile==0.7.0
eth-keys==0.5.0
eth-rlp==1.0.1
eth-typing==4.0.0
eth-utils==3.0.0
eth_abi==5.0.0
firebase-admin==6.4.0
Flask==3.0.1
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fonttools==4.47.2
frozenlist==1.4.1
google-api-core==2.16.2
google-api-python-client==2.116.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.14.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
greenlet==3.0.3
grpcio==1.60.1
grpcio-status==1.60.1
hexbytes==0.3.1
httplib2==0.22.0
idna==3.6
imageio==2.33.1
itsdangerous==2.1.2
Jinja2==3.1.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
lazy_loader==0.3
lru-dict==1.2.0
MarkupSafe==2.1.5
matplotlib==3.8.2
msgpack==1.0.7
multidict==6.0.5
networkx==3.2.1
numpy==1.26.3
oauthlib==3.2.2
opencv-python==4.9.0.80
packaging==23.2
parsimonious==0.9.0
pillow==10.2.0
proto-plus==1.23.0
protobuf==4.25.2
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.20.0
PyJWT==2.8.0
pyOpenSSL==24.0.0
pyparsing==3.1.1
PyPDF2==3.0.1
pypng==0.20220715.0
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.1
python-multipart==0.0.7
pytz==2024.1
pyunormalize==15.1.0
pywin32==306
qrcode==7.4.2
referencing==0.33.0
regex==2023.12.25
reportlab==4.0.9
requests==2.31.0
requests-oauthlib==1.3.1
rlp==4.0.0
rpds-py==0.17.1
rsa==4.9
scikit-image==0.22.0
scipy==1.12.0
secure-smtplib==0.1.1
shell==1.0.1
six==1.16.0
SQLAlchemy==2.0.25
sqlparse==0.4.4
tifffile==2024.1.30
toolz==0.12.1
typing_extensions==4.9.0
tzdata==2023.4
uritemplate==4.1.1
urllib3==2.2.0
web3==6.15.0
websockets==12.0
Werkzeug==3.0.1
whitenoise==6.6.0
WTForms==3.1.2
yarl==1.9.4
