* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/static/images/loginbg2.png') no-repeat center center fixed;
  background-size: cover;
}
.wrapper {
  width: 90%;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 20px;
  margin: 20px;
}
.wrapper h1 {
  font-size: 2em; /* 36px */
  text-align: center;
}
.wrapper .input-box {
  position: relative;
  width: 100%;
  margin: 20px 0;
}
.input-box input {
  width: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 1rem; /* 16px */
  color: #fff;
  padding: 10px 20px;
}
.input-box input::placeholder {
  color: #fff;
}
.input-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25em; /* 20px */
}
.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em; /* 14.5px */
  margin: 10px 0;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.wrapper .btn {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background: #fff;
  border: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem; /* 16px */
  color: #333;
  font-weight: 600;
}
.wrapper .register-link {
  font-size: 0.9em; /* 14.5px */
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}
.social-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  text-align: center;
}
.social-login img {
  margin-left: 10px;
}
.login-google {
  background-color: #dd4b39;
}
.login-twitter {
  background-color: #1da1f2;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  .wrapper {
    padding: 20px 15px;
  }
  .input-box i {
    right: 10px;
  }
}

@media (max-width: 480px) {
  .wrapper h1 {
    font-size: 1.5em; /* 24px */
  }
  .input-box input,
  .wrapper .btn {
    font-size: 0.875em; /* 14px */
  }
  .financial-savings-text h2 {
    font-size: 2em; /* 32px */
    margin-bottom: 0.5rem;
  }
  .financial-savings-text p {
    font-size: 1em; /* 16px */
  }
}
