body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background: url('/App/static/images/stockspage.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #f4f4f4;
    color: #333;
}

.risk-slider-container {
    margin-top: 20px;
    width: 30%;
    height: 50%;
    margin: 20px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Shadow for depth */
}

#riskSlider {
    width: 30%; /* Full width of the container */
    cursor: pointer; /* Cursor changes to indicate slider can be moved */
}

#riskValue {
    font-size: 18px; /* Larger font size for visibility */
    color: #007bff; /* Bright color for visibility */
    font-weight: bold; /* Bold font for emphasis */
    margin-top: 10px;
}

.stock-container {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.stock-container h1 {
    color: #ffffff;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 123, 255, 0.8);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.stock-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.stock-item {
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.stock-item:hover {
    transform: translateY(-5px);
}

.stock-info p {
    margin: 10px 0;
    color: #666;
}

.stock-graph img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.btn-invest {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-invest:hover {
    background-color: #0056b3;
}

/* Styles for animations and transitions */
.stock-item {
    opacity: 0;
    animation: fadeInUp 0.5s forwards;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
    from {
        opacity: 0
    }
}

@media (max-width: 992px) {
    .stock-item {
        width: calc(50% - 20px);
    }

    .risk-slider-container {
        width: 90%; /* Wider on smaller screens for better interaction */
    }
}

@media (max-width: 768px) {
    .stock-item {
        width: 100%;
    }

    .risk-slider-container {
        padding: 10px; /* Sufficient padding on very small screens */
    }
}
