{% extends "layout.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">title</th>
      <th scope="col">description</th>
      <th scope="col">Price</th>
      <th scope="col">Req_id</th>
      <th scope="col">File</th>
      <th scope="col">Confirm</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  	{% for i in range(data.count())%}
  		<tr>
  			<th>{{i+1}}</th>
  			<th>{{data[i].title}}</th>
  			<th>{{data[i].description}}</th>
  			<th>{{data[i].price}}</th>
  			<th>{{data[i].req_id}}</th>
  			<th>
  			
  	        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
          
                <div class="form-group">
                    {{ form.image(class="form-control-file") }}
                    {% if form.image.errors %}
                        {% for error in form.image.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
        	</th>
        	<th>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            </th>
            
            <input type = "text" name = "id" style = "display:none" value = {{data[i].id}}></input>
        </form>        	
        <form method="POST">
        	<th>
            <button type="submit" class="btn btn-sm btn-danger edit_del" name = "delete" value = "delete">Delete</button>
        	</th>
            <input type = "text" name = "id" style = "display:none" value = {{data[i].id}}></input>
        	
        	</form>
        	</th>
  		</tr>
  	{% endfor %}
  </tbody>
</table>

{% endblock content %}