/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #ff8566;
  --ion-color-primary-rgb: 255, 133, 102;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e67457;
  --ion-color-primary-tint: #ff9c88;

  /** secondary **/
  --ion-color-secondary: #ffb388;
  --ion-color-secondary-rgb: 255, 179, 136;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #f5a97a;
  --ion-color-secondary-tint: #ffbd9e;

  /** tertiary **/
  --ion-color-tertiary: #ffcc99;
  --ion-color-tertiary-rgb: 255, 204, 153;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #ffb288;
  --ion-color-tertiary-tint: #ffd0aa;

  /** success **/
  --ion-color-success: #77ff00;
  --ion-color-success-rgb: 255, 214, 153;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #f5c88a;
  --ion-color-success-tint: #ffdbaa;

  /** warning **/
  --ion-color-warning: #ffda66;
  --ion-color-warning-rgb: 255, 218, 102;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #f5c957;
  --ion-color-warning-tint: #ffd77d;

  /** danger **/
  --ion-color-danger: #ff3300;
  --ion-color-danger-rgb: 255, 153, 128;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #f58c74;
  --ion-color-danger-tint: #ffb195;

  /** dark **/
  --ion-color-dark: #694c3d;
  --ion-color-dark-rgb: 105, 76, 61;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #5e4336;
  --ion-color-dark-tint: #7c5f4e;

  /** medium **/
  --ion-color-medium: #c2a69b;
  --ion-color-medium-rgb: 194, 166, 155;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #aa8f86;
  --ion-color-medium-tint: #d0bcb3;

  /** light **/
  --ion-color-light: #ffece6;
  --ion-color-light-rgb: 255, 236, 230;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #f5d6ce;
  --ion-color-light-tint: #fff0eb;
}

/* Reset dark theme styles */
@media (prefers-color-scheme: dark) {
  body {
    --ion-background-color: var(--ion-color-light);
    --ion-text-color: #000000;
  }

  .ios body {
    --ion-background-color: var(--ion-color-light);
  }

  .md body {
    --ion-background-color: var(--ion-color-light);
    --ion-text-color: #000000;
    --ion-border-color: #d7d8da;
    --ion-item-background: var(--ion-color-light);
    --ion-toolbar-background: var(--ion-color-light);
    --ion-tab-bar-background: var(--ion-color-light);
    --ion-card-background: var(--ion-color-light);
  }
}

html {
  /* For more information on dynamic font scaling, visit the documentation: 
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
