{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1 class="border-bottom mb-4">MarketPlace</h1>
    <!-- CARD -->
    <div class="row">
        {% for i in range(data.count()) %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/' + data[i].image_file) }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ data[i].title }}</h5>
                    <p class="card-text text-truncate" title="{{ data[i].description }}">{{ data[i].description }}</p>
                    <p class="card-text">Id: {{ data[i].id }}</p>
                    <p class="card-text"><large class="text-muted">Price: {{ data[i].price }}</large></p>
                    <form method="post">
                        <button type="submit" class="btn btn-lg btn-primary" name="Update" value="Update">Buy</button>
                        <input type="text" name="id" style="display:none" value="{{ data[i].id }}"></input>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- card ends -->
</div>
{% endblock content %}
