<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Clever Coins</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}" />
  </head>
  <body>
    <header id="header">
      <div class="header-content-div">
        <a href="./index.html">
          <img
            src="./images/logocc.png"
            alt="Company Logo"
            id="header-img"
        /></a>
        <nav id="nav-bar">
          <a href="#about" class="nav-link">About</a>
          <a href="#our-service" class="nav-link">Our services</a>
          <a href="./signup.html" class="nav-link">Sign up</a>
          <a href="./login.html" class="nav-link">Log in</a>
        </nav>
      </div>
    </header>
    <main>
      
      <section id="home-sec" class="flexible home-sec">
        <div class="eye-grabber-img">
          <img src="./images/landimg1.png" alt="Image" />
        </div>
        <div class="eye-grabber">
          <h1>Personalized savings</h1>
          <h2>
            Unlock financial freedom with our personalized savings solutions tailored to your goals, to achieve financial milestones         
          </h2>
          <button class="btn" onclick="window.location.href = './signup.html';">
            Sign up for free
          </button>
        </div>
      </section>

        <section id="home-sec" class="flexible home-sec">
          <div class="eye-grabber">
            <h1>Investment plans.</h1>
            <h2>
              From high-yield returns to strategic portfolios, we pave the way for your wealth to grow and thrive
            </h2>

              <button class="btn" onclick="window.location.href = './signup.html';">
                Sign up for free
              </button>           
          </div>
          <div class="eye-grabber-img">
            <img src="./images/landimg.jpg" alt="Image" />
          </div>
        </section>  
    </main>
    <footer>
        <style>
            body {
              background-image: url('https://www.desktopbackground.org/download/2880x1800/2010/04/17/3405_cool-simple-white-backgrounds-picture-gallery_5120x2880_h.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
      
      <a href="#"></a>
    </footer>
  </body>
</html>