<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="login.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="wrapper">
    <form action="">
      <h1><img src="images/logocc.jpg" height="55" width="200" style="border-radius:1cqmin;"><br>Login</h1>
      <div class="input-box">
        <input type="text" placeholder="Username" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Password" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <div class="social-login login-twitter">Login with Twitter
        <img src="images/twitterlogo.png" alt="Twitter" width="25" height="25"/>
      </div>
      <div class="social-login login-google">Login with Google
        <img src="images/googlelogo.png" alt="Google" width="25" height="25"/>
      </div>
      <br><br>
      <div class="remember-forgot">
        <label><input type="checkbox">Remember Me</label>
        <a href="#">Forgot Password</a>
      </div>
      <button type="submit" class="btn"><a href="./Dashboard.html">Login</a></button>
      <div class="register-link">
        <p>Dont have an account? <a href="./signup.html">Register</a></p>
      </div>
    </form>
  </div>
</body>
</html>
