/* GetSymptoms.css */

.container {
    text-align: center;
    margin-top: 20px;
    justify-content: left;

  }
  
  .inputField {
    padding: 8px;
    margin-right: 8px;
    border-radius: 50px;
  }
  
  .searchButton {
    padding: 8px;
    cursor: pointer;
    border-radius: 50px;
    background-color: cadetblue;
  }
  
  .symptomsContainer {
    margin-top: 20px;
  }
  
  .symptomList {
    list-style-type: none;
    padding: 0;
    text-align: center;
    justify-content: center;
  }
  
  .symptomItem {
    margin-bottom: 8px;
  }
  