.get-started-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    text-align: center;
    margin-top: 10px;
  }
  
  .input-container {
    display: flex;
    align-items: center; /* Align items horizontally */
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .input-container input{
    border-radius: 50px;
    width: 200px;
  }

  .input-container button{
    border-radius: 50px;
    width: 100px;
    background-color: cornflowerblue;
  }
  
  .space {
    margin: 10px;
  }
  .input-field {
    flex: 1; /* Take up remaining space */
  }
  
  .checkbox-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .checkbox-list li {
    margin-bottom: 5px;
  }
  
  .result-container {
    margin-top: 20px;
  }