@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&family=Rubik:wght@400;500;600;700&display=swap");
* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

    padding: 30px;
    background-color: #1f2937;
}

@media (max-width: 955px) {
    .intro {
        .intro-txt {
            width: auto;
        }
    }
}

/* Intro Text */
.intro-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 470px;
}
.intro-txt h1 {
    color: #f9faf8;
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}
.intro-txt p {
    font-family: "Roboto", sans-serif;
    color: #e5e7eb;
    margin-top: 0;
    margin-bottom: 15px;
}
#intro-try-now-btn {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 28px;
    border: 0;
    border-radius: 7px;
    cursor: pointer;

    margin-top: 5px;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

/* Intro Image */
.intro-img-src {
    max-width: 400px;
    border-radius: 5px;
}
