body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-5xl: 24px;
  --font-size-26xl: 45px;

  /* Colors */
  --color-black: #000;
  --color-silver: #c4c4c4;
  --color-white: #fff;

  /* Gaps */
  --gap-32xl: 51px;
  --gap-xl: 20px;
  --gap-207xl: 226px;
  --gap-58xl: 77px;
  --gap-34xl: 53px;
  --gap-165xl: 184px;
  --gap-1950xl: 1969px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-38xl: 57px;
  --padding-4xs: 9px;
  --padding-39xl: 58px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-36xl: 55px;
}
