.b-a-ck-g-r-o-u-n-d {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: -2px;
    right: -1.4px;
    object-fit: contain;
  }
  .frame-child {
    height: 120px;
    width: 2558px;
    position: relative;
    display: none;
    max-width: 100%;
  }
  .about,
  .contact,
  .home {
    position: relative;
    z-index: 1;
  }
  .contact {
    height: 39px;
    display: inline-block;
  }
  .about-text,
  .vector-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .about-text {
    width: 255px;
    justify-content: space-between;
    gap: 20px;
  }
  .vector-parent {
    align-self: stretch;
    background-color: #131313;
    justify-content: center;
    padding: 46px var(--padding-xl) 35px 55px;
    box-sizing: border-box;
    gap: var(--gap-1950xl);
    top: 0;
    z-index: 99;
    position: sticky;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .vector-holder-child {
    width: 454px;
    position: relative;
    max-height: unset;
    overflow: clip;
    max-width: 100%;
    z-index: 1;
  }
  .vector-holder {
    align-self: stretch;
    height: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: 100%;
  }
  .action {
    flex: 1;
    position: relative;
    font-size: 45px;
    letter-spacing: 0.38px;
    line-height: 24px;
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    max-width: 100%;
  }
  .actions {
    cursor: pointer;
    border: 0;
    padding: 25px 28px 26px var(--padding-8xl);
    background-color: #0646c1;
    width: 382px;
    border-radius: 55px;
    backdrop-filter: blur(80px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
    z-index: 1;
  }
  .actions:hover {
    background-color: #2e6be8;
  }
  .actions-instance,
  .inner-frame {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .inner-frame {
    width: 904px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-274xl);
  }
  .actions-instance {
    width: 1450px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    flex-shrink: 0;
  }
  .action-button {
    width: 346px;
    display: none;
    max-width: 100%;
    z-index: 3;
  }
  .footer-white {
    width: 100%;
    position: relative;
    background-color: #e5e4e4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 671px 2px;
    box-sizing: border-box;
    gap: var(--gap-424xl);
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .vector-parent {
      gap: var(--gap-1950xl);
      padding-left: var(--padding-8xl);
      box-sizing: border-box;
    }
    .footer-white {
      gap: var(--gap-424xl);
    }
  }
  @media screen and (max-width: 1050px) {
    .action {
      font-size: 36px;
      line-height: 19px;
    }
    .inner-frame {
      gap: var(--gap-274xl);
    }
  }
  @media screen and (max-width: 750px) {
    .vector-parent {
      gap: var(--gap-1950xl);
    }
    .footer-white {
      gap: var(--gap-424xl);
    }
  }
  @media screen and (max-width: 450px) {
    .vector-parent {
      gap: var(--gap-1950xl);
    }
    .action {
      font-size: 27px;
      line-height: 14px;
    }
    .inner-frame {
      gap: var(--gap-274xl);
    }
    .footer-white {
      gap: var(--gap-424xl);
    }
  }