/* loginpage.css */

/* Center the card in the middle of the screen */
.ExploreContainer-card {
  max-width: 400px;
  margin: auto;
  margin-top: 50px; /* Adjust the top margin as needed */
  padding: 20px; /* Added padding for a cleaner look */
  background-color: #ffffff;
}

/* Style the card header */
.ExploreContainer-card-header {
  background-color: #fabf6e; /* Primary color for a consistent theme */
  color: #ffffff; /* Light text color */
  text-align: center;
  padding: 15px; /* Increased padding for better appearance */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Style the card title */
.ExploreContainer-card-title {
  font-size: 1.5em;
  margin-bottom: 10px; /* Adjusted margin for better spacing */
}

/* Style the card subtitle */
.ExploreContainer-card-subtitle {
  font-size: 1em;
  color: #ecf0f1; /* Lighter text color */
  margin-bottom: 20px; /* Adjusted margin for better spacing */
}

/* Style the card content */
.ExploreContainer-card-content {
  padding: 20px;
}

/* Style the form inputs */
ion-input {
  border-radius: 5px;
  margin-bottom: 15px;
  --padding-start: 10px; /* Adjusted padding for better input appearance */
}

/* Style the login button */
ion-button {
  --background: #fabf6e; /* Primary color for button background */
  --color: #ffffff; /* Light text color */
  width: 100%;
  border-radius: 5px;
}

/* Style the "Sign Up" link */
p ion-nav-link {
  color: #007efb;
  text-decoration: underline;
  cursor: pointer;
}

/* Center the "New user? Sign Up" text */
p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0; /* Adjusted margin for better spacing */
}
.logo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 300px; /* Adjust as needed */
}

