<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>💫 Enigma AI | About</title>
    <link rel="stylesheet" href="static/style2.css">
</head>
<body>
    <center>
        <img class="logo_img" src="static/img/logo.png">
    </center>

    <nav class="navbar">
        <a href="{{url_for('home')}}" class="nav-link">/home/</a>
        <a href="{{url_for('about')}}" class="nav-link">/about/</a>
        <a href="{{url_for('login')}}" class="nav-link">/sign-in/</a>
        <a href="{{url_for('signup')}}" class="nav-link">/sign-up/</a>
    </nav>

    <br>
    <br>
    <center>
        <div class="about-section">
            <h2>Welcome to Enigma AI - Your AI-Based Tutor/Study Partner! 💫</h2>
            <p>Enigma AI is a cutting-edge artificial intelligence platform designed to be your ultimate tutor and study companion. We're here to revolutionize the way you learn, making education more engaging, personalized, and effective.</p>

            <h3>Key Features:</h3>
            
                Intelligent Tutoring: Enigma AI is based on your notes hence making it super personalized.<br>
                Interactive Learning: Chat with your tutor who doesn't lose his patience when you make mistakes.<br>
                24/7 Availability: Access your study partner anytime, anywhere, making learning a flexible and convenient experience.<br>
                Subject Expertise: From mathematics to literature, Enigma AI covers a wide range of subjects to meet your educational needs.<br>
            


            <p>Join us on the journey to smarter, more effective learning with Enigma AI. Whether you're a student looking to ace exams or a lifelong learner, we've got you covered!</p>
        </div>
    </center>
</body>
<footer>
    <br>
 <br>
 <br>
    <center>
    <p style="font-family: us;font-size: 10px;">   &copy; Copyright Bad Piggies (admin[at]divine-architect[dot]xyz)  2024
    
    

</center>
</footer>

</html>
