<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>💫 Enigma AI | Home</title>
    <link rel="stylesheet" href="static/style2.css">
</head>
<body>
    <center>
        <img class="logo_img" src="static/img/logo.png">
    </center>

    <nav class="navbar">
        <a href="{{url_for('home')}}" class="nav-link">/home/</a>
        <a href="{{url_for('about')}}" class="nav-link">/about/</a>
        <a href="{{url_for('login')}}" class="nav-link">/sign-in/</a>
        <a href="{{url_for('signup')}}" class="nav-link">/sign-up/</a>
    </nav>

    <br>
    <br>

    <div class="descriptive">
        <center>
            <h1 style="font-size:40px;">
                Get an edge on your academic journey with our AI based tutor/study companion</h1>
        </center>
        <br>
        <br>

        <center>
            <p style="font-size: 30px;padding-left: 10px;">
                Powered by:
            </p>
            <div class="power">
               <a href="https://openai.com"> <img src="/static/img/openai.png" class="power1-logo"></a>
               <a href="https://wolframalpha.com"> <img src="/static/img/wolfram_alpha.png" class="power2-logo"></a>
            </div>
        </center>
    </div>

</body>
<footer>
    <br>
    <br>
    <br>
    <center>
    <p style="font-family: us;font-size: 10px;">   &copy; Copyright Bad Piggies (admin[at]divine-architect[dot]xyz)  2024</p>
</center>
</footer>

</html>
