<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>💫 Enigma AI | Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/style2.css">
</head>

<body>
  
    


    <div class="scene">
        <div class="wrap">
            <div class="wall wall-right"></div>
            <div class="wall wall-left"></div>   
            <div class="wall wall-top"></div>
            <div class="wall wall-bottom"></div> 
            <div class="wall wall-back"></div>    
        </div>
        <div class="wrap">
            <div class="wall wall-right"></div>
            <div class="wall wall-left"></div>   
            <div class="wall wall-top"></div>
            <div class="wall wall-bottom"></div>   
            <div class="wall wall-back"></div>    
        </div>
    </div>
    <img class="logo_img" src="static/img/logo.png">
    <a id="get-started-button" class="get-started-button" href="{{url_for('home')}}"><b>Get Started</b></a>


</body>
</html>
