<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>💫 Enigma AI | Login</title>
    <link rel="stylesheet" href="static/style2.css">
</head>
<body>
    <center>
        <img class="logo_img" src="static/img/logo.png">
    </center>

    <nav class="navbar">
        <a href="{{url_for('home')}}" class="nav-link">/home/</a>
        <a href="{{url_for('about')}}" class="nav-link">/about/</a>
        <a href="{{url_for('login')}}" class="nav-link">/sign-in/</a>
        <a href="{{url_for('signup')}}" class="nav-link">/sign-up/</a>
    </nav>

    <br>
    <br>
<center>
            <form class="former" method="POST" action="{{ url_for('login') }}">
                <p>Sign In</p>
                <label for="rvcemail">RVCE E-mail:</label><br>
                <input type="text" name="rvcemail" required><br><br>
                <label for="password">Password:</label><br>
                <input type="password" name="password" required><br><br>
                <input class="submit-button" type="submit" value="Login">
            </form>
        </center>
        </div>
    </div>
</body>
<footer>
    <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>

 <br>
 <br>

    <center>
    <p style="font-family: us;font-size: 10px;">   &copy; Copyright Bad Piggies (admin[at]divine-architect[dot]xyz)  2024</p>
</center>
</footer>
</html>