<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>💫 Enigma AI | Mathsolver</title>
    <link rel="stylesheet" href="static/style2.css">
    
</head>
<body>
    <center>
        <img class="logo_img" src="static/img/logo.png">
    </center>
<center>
    <nav class="navbar">
        <a href="{{url_for('nlp')}}" class="nav-link">/text-nlp/</a>
        <a href="{{url_for('mathsolver')}}" class="nav-link">/math-solver/</a>
        <a href="{{url_for('transcript')}}" class="nav-link">/transcript/</a>
        <a href="{{url_for('logout')}}" class="nav-link">/logout/</a>
    </nav>
<br>
    <h1 class="former">Math Solver</h1>
    <form class="former" action="/mathsolver" method="POST" enctype="multipart/form-data">
        <input type="file" name="file2" accept=".png, .jpg, .jpeg"><br><br>
        <button class="submit-button" type="submit">Submit</button>
    </form>
</body>
</html>
