.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.edit_del {
  width: 70px;
}

body {
  /* background-color: #343a40; */
  background-color: #161618;
  /* Dark gray background color */
  color: #ffffff;
  margin-top: 60px;
  /* White text color */
}

.card {
  background-color: #212529;
  /* Darker gray background color for cards */
  color: #ffffff;
  /* White text color for cards */
  /* border: 1px solid #ffffff; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .2s ease-in-out;
  border-radius: 10px;
  color: #8D79F3;
  /* White border for cards */
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  /* background-color: #8D79F3; */
  background-image: linear-gradient(45deg, #5e4bc0, #453691);
  color: white;
}





.card-body {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.card-body img {
  color: white;
}

.landing-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10em auto 10em auto;
  padding: 5em 0 5em 0;
  width: 90%
    /* Added margin for the Lorem ipsum text */
}

a {
  text-decoration: none;
  color: white;
  padding: 0;
}

a:hover {
  text-decoration: none;
  color: white;
}

.lhs {
  padding-right: 5em;
  padding-left: 5em;
}

.rhs {
  text-align: center;
}


.login-btn {
  border-radius: 10px;
  background-color: #161618;
  border: 1px solid rgb(232, 232, 232);
  margin-right: 1em;
  transition: 0.1s ease all;
  color: #ffffff;
}

.login-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.05)
}

.landing-container h2,
.landing-container h5 {
  margin: 3em 0 3em 0;
  display: block;
}

a {
  padding: none;
}

.signup-btn {
  border-radius: 10px;
  background-color: #5e4bc0;
  border: 1px solid #5e4bc0;
  margin-right: 1em;
  color: #ffffff;
  font-weight: 600;
  transition: 0.1s ease all;
}

.signup-btn:hover {
  background-color: white;
  color: #5e4bc0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.05)
}

.signup-btn a:hover {
  color: #5e4bc0
}