 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, #29323c, #485563);
}

.center {
    position: absolute;
    top: 0px;
    left: 1px;
    transform: translateX(1%);
    width: 100%;
    max-width: 1300px;
    
}
.fullchatbox {
    float: right;
    position: relative;
    top: 10vh;
    max-width: 40vh;
    max-height: 85vh;
    overflow-x: hidden;
}

.center .logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 30px;
    background: rgba(0,0,0, 0.15);
    z-index: 5;
}

.center .logo h1 {
    position: relative;

    left: 42%;
    color: #fff;
    font-size: 34px;
}

.shorts, .shorts-wrap {
    position: relative;
    overflow: hidden;
}

.shorts-wrap > div {
    float: left;
    width: 100%;
    height: 100vh;
    position: relative;
}

.shorts .video-wrapper {
    position: realtive;
    height: 100vh;
}

.shorts .video-wrapper .video {
    position: absolute;
    width: 100%;
    height: 100%;
}

.shorts .video-wrapper .video video {
    width: 100%;
    height: 100%;
}

.shorts .video-wrapper .details {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 15px;
    z-index: 2;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));

}

.shorts .video-wrapper .details h2 {
    font-size: 32px;
    color: #fff;
}

.shorts .video-wrapper .details p {
    font-size: 28px;
    color: #ddd;
    margin-top: 10px;
}


.shorts .video-wrapper .details h2,
.shorts .video-wrapper .details p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
