<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Clever Coins</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/static/css/landingstyles.css" />
  </head>
  <body>
    <header id="header">
      <div class="header-content-div">
        <a href="#">
          <img
            src="static/images/logocc.png"
            alt="Company Logo"
            id="header-img"
        /></a>
        <nav id="nav-bar">
          <a href="documentation" class="nav-link">About</a>
          <a href="#invest" class="nav-link">Our services</a>
          <a href="signup" class="nav-link">Sign up</a>
          <a href="login" class="nav-link">Log in</a>
        </nav>
      </div>
    </header>
    <main>
      <section id="home-sec" class="flexible home-sec">
        <div class="eye-grabber-img">
          <img src="static/images/landimg1.png" alt="Image" />
        </div>
        <div class="eye-grabber">
          <h1>Personalized savings</h1>
          <h2>
            Unlock financial freedom with our personalized savings solutions
            tailored to your goals, to achieve financial milestones
          </h2>
          <button class="btn" onclick="window.location.href = '/signup';">
            Sign up for free
          </button>
        </div>
      </section>

      <section id="home-sec" class="flexible home-sec">
        <div class="eye-grabber">
          <h1 id="invest">Investment plans.</h1>
          <h2>
            From high-yield returns to strategic portfolios, we pave the way for
            your wealth to grow and thrive
          </h2>

          <button class="btn" onclick="window.location.href = '/signup';">
            Sign up for free
          </button>
        </div>
        <div class="eye-grabber-img">
          <img src="static/images/landimg.png" alt="Image" />
        </div>
      </section>
    </main>
    <footer>
      <style>
        body {
          background: url("/static/images/indexbg.png");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
      </style>

      <a href="#"></a>
    </footer>
  </body>
</html>
