<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="static/css/login.css" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script defer src="static/js/login.js"></script> <!-- Add the path to your login.js script -->
</head>
<body>
  <div class="wrapper">
    <form id="loginForm"> <!-- Removed the 'action' attribute -->
      <h1>
        <img src="/static/images/logocc.png" height="55" width="200" style="border-radius:1cqmin;">
        <br>Login
      </h1>
      <div class="input-box">
        <input type="text" id="usernameInput" placeholder="Username" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" id="passwordInput" placeholder="Password" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
      <div class="social-login login-twitter">Login with Twitter
        <img src="/static/images/twitterlogo.png" alt="Twitter" width="25" height="25"/>
      </div>
      <div class="social-login login-google">Login with Google
        <img src="/static/images/googlelogo.png" alt="Google" width="25" height="25"/>
      </div>
      <br><br>
      <div class="remember-forgot">
        <label><input type="checkbox" id="rememberMe">Remember Me</label>
        <a href="#">Forgot Password?</a>
      </div>
      <button type="button" class="btn" onclick="handleLogin()">Login</button> <!-- Changed type to 'button' and added onclick event -->
      <div class="register-link">
        <p>Dont have an account? <a href="signup">Register</a></p>
      </div>
    </form>
  </div>

  <script>
    function handleLogin() {
      const username = document.getElementById('usernameInput').value;
      const password = document.getElementById('passwordInput').value;

      // Send a POST request to the server
      fetch('/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ username: username, password: password }),
      })
      .then(response => {
        if (response.ok) {
          return response.json(); // or simply use response.redirected and response.url if redirection happens on the server-side
        } else {
          throw new Error('Login failed');
        }
      })
      .then(data => {
        window.location.href = data.redirectUrl; // Use the URL from the server response for redirection
      })
      .catch(error => {
        console.error('Error:', error);
        alert('Login failed. Please check your credentials.'); // Gracefully handling login failure
      });
    }
  </script>
</body>
</html>
