body {
    background-color: #2D3250;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#text-modification{
    top: 50%;
    left: 10px;

}

#font-modification{
    top: 50%;
    right:10px;
}

#text-modification,
#font-modification {
    position: fixed;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

#text-modification button,
#font-modification button,
#paraphrase {
    margin-bottom: 5px;
}

/* #paraphrase {
    position: fixed;
    bottom: 20px;
    right: 10px;
} */


#toolbar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#toolbar button:hover {
    background-color: #0056b3;
}

#external {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    margin-right: 20px;
}

#external input[type="file"] {
    margin-right: 10px;
}

#editor,
#modified {
    border: 1px solid #ced4da;
    padding: 10px;
    /* max-height: 300px; */
    overflow: auto;
    margin: 20px;
    border-radius: 5px;
}

 #editor {
    position: fixed;
    bottom: 0;
    width: calc(90% - 40px);
    /* width: 210mm; 
    height: 297mm; 
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    overflow: auto; */
} 

#modified {
    /* width: calc(90% - 40px); */
    width: 210mm; 
    height: 297mm; 
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    overflow: auto;
} 

button#generatePdfBtn1,
button#generatePdfBtn2 {
    background-color: #28a745;
    /* Green button */
}

button#generatePdfBtn1:hover,
button#generatePdfBtn2:hover {
    background-color: #218838;
    /* Darker green on hover */
}

hr {
    border: none;
    height: 5px;
    background-color: #000;
    margin: 40px auto;
}

.modify-pdf {
    align-content: center;
}