* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: #232323;
    overflow: hidden;
    padding: 20px 20px;
}

.container {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.container .card, .card1,.card2, .card3, .card4 {
    position: relative;
    width: 290px;
    height: 500px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    object-fit: contain;
}

.card,.card1, .card2, .card3, .card4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}

.container .card .imgBx , .card1 .imgBx1, .card2 .imgBx2, .card3 .imgBx3, .card4 .imgBx4{
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx ,.card1:hover .imgBx1, .card2:hover .imgBx2, .card3:hover .imgBx3, .card4:hover .imgBx4{
    transform: translateY(-100px) scale(1.3);
}

.container .card .imgBx img{
    max-width: 100%;
    object-fit: contain;
    margin:  0 20px;
    transition: 0.5s ease-in-out;
}
.container .card1 .imgBx1 img{
    max-width: 60%;
    object-fit: contain;
    margin:  0 20px;
    transition: 0.5s ease-in-out;
}
.container .card2 .imgBx2 img{
    max-width: 46%;
    object-fit: contain;
    margin:  0 20px;
    transition: 0.5s ease-in-out;
}
.container .card3 .imgBx3 img{
    max-width: 56%;
    object-fit: contain;
    margin:  0 30px;
    transition: 0.5s ease-in-out;
}
.container .card4 .imgBx4 img{
    max-width: 76%;
    object-fit: contain;
    margin:  0 30px;
    transition: 0.5s ease-in-out;
}


.container .card .imgBx h2 ,.card1 .imgBx1 h2, .card2 .imgBx2 h2, .card3 .imgBx3 h2, .card4 .imgBx4 h2{
    color: #fff;
}
.container .card p{
    color: #fff;
    text-align: center;
    position: absolute;
    display: flex;
    opacity: 0;
    justify-content: center;
    transition: 0.5s ease-in-out;
    visibility: hidden;
    width: 100%;
    bottom: 45px;
    margin: 20px 0;
}
.container .card1 p{
    color: #fff;
    text-align: center;
    position: absolute;
    display: flex;
    opacity: 0;
    justify-content: center;
    transition: 0.5s ease-in-out;
    visibility: hidden;
    width: 100%;
    bottom: 40px;
    margin: 20px 0;
}
.container .card2 p{
    color: #fff;
    text-align: center;
    position: absolute;
    display: flex;
    opacity: 0;
    justify-content: center;
    transition: 0.5s ease-in-out;
    visibility: hidden;
    width: 100%;
    bottom: 35px;
    margin: 20px 0;
}
.container .card3 p,.container .card4 p{
    color: #fff;
    text-align: center;
    position: absolute;
    display: flex;
    opacity: 0;
    justify-content: center;
    transition: 0.5s ease-in-out;
    visibility: hidden;
    width: 100%;
    bottom: 45px;
    margin: 20px 0;
}

.container .card:hover p ,.card1:hover p, .card2:hover p, .card3:hover p, .card4:hover p{
    opacity: 1;
    visibility: visible;
    transform: translateY(-50px);
}


.more-detail {
    margin-top: 10px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    align-items: center;
    border-radius: 30px;
    color: black;
    transition: background-color 0.3s, color 0.3s; 
    right: 30px;
    
}

.more-detail:hover {
    background-color: black;
    color: white;
}
