<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Signature</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Sign Here ..</h1>

        <div class="card">
            <div class="card-body">
                <div id="signature-pad" class="mb-3">
                    <canvas id="canvas" width="300" height="150"></canvas>
                </div>

                <button id="clear-btn" class="btn btn-danger mr-2">Clear</button>
                <button id="save-btn" class="btn btn-primary">Add Sign and Download</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/js/esign.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-storage.js"></script>
</body>

</html>