:root {
    /**
     * Setting the variables for DEMO purposes only.
     * Values will be set automatically when building an iOS or Android app.
     */
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 20px;
  }
  
  ion-fab {
    margin-top: var(--ion-safe-area-top, 0);
    margin-bottom: var(--ion-safe-area-bottom, 0);
  }
  /* HomePage.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.home-buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.home-card {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

/* Style for the header */
ion-header {
  background-color: #2c3e50;
  color: #fff;
}

ion-title p {
  margin: 0;
}

ion-title b {
  color: #f59760;
}

/* Style for the card header */
ion-card-header {
  background-color: #f59760;
  color: #fff;
}

/* Style for the card title */
ion-card-title,
ion-card-subtitle {
  color: #2c3e50;
}

/* Style for the card content */
ion-card-content {
  color: #555;
}

/* Style for buttons */
ion-button,
ion-fab-button {
  --background: #f59760;
  --color: #fff;
  width: 36px;
  height: 36px;
  --border-radius: 18px;
}

/* Add these styles to your CSS file */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container div {
  margin-top: 5px;
}
.button-container div {
  margin-top: 5px;
  font-size: 0.8em; /* Adjust the font size as needed */
}
/* Add this CSS to your stylesheet */
.home-buttons-container .button-container div {
  font-size: 14px; /* Adjust the font size to your preference */
}






