.top_bar{position:absolute; top:0vw; left:0vw; height:3.5vw; width:100%; border-bottom:0.1vw solid rgba(0, 0, 0, 0.2);}

.top_bar{position:absolute; top:0vw; left:0vw; height:3.5vw; width:100%; border-bottom:0.1vw solid rgba(0, 0, 0, 0.2);}

.top_bar_link_1_Login{position:absolute; right:6vw; top:-0.15vw; color:black; font-size:1.2vw;}
.top_bar_link_1_Signup{position:absolute; right:1vw; top:-0.15vw; color:black; font-size:1.2vw;}

.Logo{position:absolute; top:-1.5vw; left:1vw; font-size:2vw; font-family:sans;}

.login_form_gmail{display:none; position:absolute; top:10vw; left:10vw; height:1.7vw; width:15vw;}
.login_form_passwd{display:none; position:absolute; top:calc(15vw - 1.7vw); left:10vw; height:1.7vw; width:15vw;}
.login_form_btn{display:none; position:absolute; top:calc(15vw + 1.7vw); left:10vw; height:1.7vw; width:15vw;}

