.input-container {
    margin: 20px;
    position: fixed;
    bottom: 0;
   
  }
  
  .text-input {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 12px;
    font-size: 16px;
    width: 800px;
    height: 35px;
    margin-left: 350px;
    margin-top: 20px;
  }

  .text-input:focus::placeholder {
    color: transparent;
  }


  .submitbutton {
    background-color: #f80000; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
    margin-left: 30px;
}

.submitbutton:hover {
    background-color: #000000; 
    color: #f80000;
}

  