body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profile-picture {
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

.profile-picture img {
    width: 100%;
    height: auto;
}

.profile-details {
    max-width: 600px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
